* {
  padding: 0; margin: 0;
}
.App {
  text-align: center;
}
.header h1 {
 font-size: 80px;
}
.mdl-layout__drawer-button{
  display: none !important;
}
.mdl-layout__header-row {
  padding: 0 !important;
}
/** LATEST PAGE CONTENT **************************************/
.latestPageContent {
  display: grid;
  grid-template-columns: auto 210px;
  
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .latestPageContent {
    display: grid;
    grid-template-columns: 100%;
  }
} 
@media only screen and (max-width: 1024px) {
  .latestPageContent {
    margin-top: 0px;
  }
  .mdl-layout__drawer-button{
    display: block !important;
    position: absolute; top: 0; left: 0;
  }
}

/** LEFT COLLUMN *********************************************/
.leftCollumn {
  display: grid;
  grid-template-columns: 50% 50% ;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .leftCollumn {
    grid-template-columns: 100% ;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .leftCollumn {
    grid-template-columns: 100%;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .leftCollumn {
    grid-template-columns: 50% 50% ;
  }
  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .leftCollumn {
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .leftCollumn {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

/** RIGHT COLLUMN *********************************************/
.headlines {
  width: 200px;
}
