* {
  padding: 0; margin: 0;
}
.App {
  text-align: center;
}

/** ARTICLE *********************************************/
.article {
  //border: 1px solid black;
  box-sizing: border-box;
  padding: 10px;
}
.latestGrid {
  display: grid;
  grid-template-columns: 50% 50%;
}
.article header {
  position: relative;
}
.article header img{
  width: 100%;
  height: auto;
}
.article header h5{
  position: absolute;
  padding: 10px 0; margin: 0;
  width: 100%;
  height: auto;
  background: rgba(0,0,0,0.5);
  color: white;
  
  bottom: 20px;
}
.subheader {
  position: absolute;
  width: 100%;
  background: rgba(0,0,0,0.5);
  color: white;
  height: 20px;
  bottom: 0px;
}
.articleSource {
  position: absolute;
  left: 5px;
}
.articleTime {
  position: absolute;
  right: 5px;
}